@import "tailwindcss";

@theme {
  --color-brand: #FF0055;
  --color-tech-dark: #050505;
  --color-panel-dark: #0a0a0a;
  --color-border-dark: #222;
}

/* Custom compact elements */
input::placeholder {
  color: #555555;
}

/* Scrollbar styling for high-density grids */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #FF0055;
  border-radius: 2px;
}

